<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ap-Serwis</title>
    <link href="css/dark-theme2.css" rel="stylesheet">
    <link href="css/bt/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <script src="js/config.js"></script>
    <script src="js/jquery/jquery.js"></script>
    <script src="js/bt/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="drawing">
    <canvas id="drawing" style="background-color:white"></canvas>
</div>
<div id="buttons">
    <button type="button" id="abort" class="btn btn-danger btn-dewis-width">Anuluj</button>
    <button type="button" id="clear" class="btn btn-primary btn-dewis-width">Wyczyść</button>
    <button type="button" id="save" class="btn btn-success btn-dewis-width">Zapisz</button>
</div>

<script src="js/canvas.js"></script>

</body>
</html>