<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ap-Serwis</title>
    <link href="css/dark-theme2.css" rel="stylesheet">
    <link href="css/bt/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <script src="js/bt/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="navbar-dewis d-flex justify-content-center">
    <a href="" th:href="@{/}">Strona główna</a>
    <div class="dropdown-dewis">
        <button class="dropbtn-dewis">Szukaj
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content-dewis">
            <a href="" th:href="@{/find}">Zlecenia</a>
            <a href="" th:href="@{/finduser}">Klienci</a>
            <a href="" th:href="@{/findcar}">Samochody</a>
        </div>
    </div>
    <div class="dropdown-dewis">
        <button class="dropbtn-dewis">Dodaj
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content-dewis">
            <a href="" th:href="@{/add}">Dodaj klienta</a>
            <a href="" th:href="@{/add_car}">Dodaj samochód</a>
            <a href="" th:href="@{/add_work}">Dodaj zlecenie</a>
        </div>
    </div>
    <div class="dropdown-dewis">
        <button class="dropbtn-dewis">Usuń
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content-dewis">
            <a href="" th:href="@{/remove_people}">Usuń klienta</a>
            <a href="" th:href="@{/remove_car}">Usuń samochód</a>
            <a href="" th:href="@{/remove_work}">Usuń zlecenie</a>
        </div>
    </div>
</div>

</body>
</html>